main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.animals img {
    width: 30vw;
    border-radius: 20%;
    padding: 10px;
    
}

.animals :active {
    transform: rotate(0.5turn);
}

.animals {

display: flex;
flex-direction: row; 
}

body {
    background-color: #087E8B;
}

h1 {
    color: #BFD7EA;
    text-align: center;
}
